# 01. Importing Libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

# 02. Data Cleaning and Consistency Checks

### Import Data

In [2]:
# Store path to main project folder
path = r'/Users/emilycurcio/Desktop/CareerFoundry/Data Immersion/Ach 6 Advanced Analytics and Dashboard Design/04-2024 World Happiness Analysis'

In [3]:
# Import 2015 data set
df_2015 = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', '2015.csv'))

In [4]:
# Import 2016 data set
df_2016 = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', '2016.csv'))

In [5]:
# Import 2017 data set
df_2017 = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', '2017.csv'))

In [6]:
# Import 2018 data set
df_2018 = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', '2018.csv'))

In [7]:
# Import 2019 data set
df_2019 = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', '2019.csv'))

In [8]:
df_2015.head(1)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738

In [9]:
df_2016.head(1)

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.46,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939

In [10]:
df_2017.head(1)

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027

In [11]:
df_2018.head(1)

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393

In [12]:
df_2019.head(1)

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.34,1.587,0.986,0.596,0.153,0.393

### Mixed Type Data Check

In [13]:
# Check for mixed type columns
for col in df_2015.columns.tolist():
  weird = (df_2015[[col]].applymap(type) != df_2015[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_2015[weird]) > 0:
    print (col)

In [14]:
# Check for mixed type columns
for col in df_2016.columns.tolist():
  weird = (df_2016[[col]].applymap(type) != df_2016[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_2016[weird]) > 0:
    print (col)

In [15]:
# Check for mixed type columns
for col in df_2017.columns.tolist():
  weird = (df_2017[[col]].applymap(type) != df_2017[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_2017[weird]) > 0:
    print (col)

In [16]:
# Check for mixed type columns
for col in df_2018.columns.tolist():
  weird = (df_2018[[col]].applymap(type) != df_2018[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_2018[weird]) > 0:
    print (col)

In [17]:
# Check for mixed type columns
for col in df_2019.columns.tolist():
  weird = (df_2019[[col]].applymap(type) != df_2019[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_2019[weird]) > 0:
    print (col)

### Missing Values Check

In [18]:
# Check for missing values
df_2015.isnull().sum()

Country                          0
Region                           0
Happiness Rank                   0
Happiness Score                  0
Standard Error                   0
Economy (GDP per Capita)         0
Family                           0
Health (Life Expectancy)         0
Freedom                          0
Trust (Government Corruption)    0
Generosity                       0
Dystopia Residual                0
dtype: int64

In [19]:
df_2016.isnull().sum()

Country                          0
Region                           0
Happiness Rank                   0
Happiness Score                  0
Lower Confidence Interval        0
Upper Confidence Interval        0
Economy (GDP per Capita)         0
Family                           0
Health (Life Expectancy)         0
Freedom                          0
Trust (Government Corruption)    0
Generosity                       0
Dystopia Residual                0
dtype: int64

In [20]:
df_2017.isnull().sum()

Country                          0
Happiness.Rank                   0
Happiness.Score                  0
Whisker.high                     0
Whisker.low                      0
Economy..GDP.per.Capita.         0
Family                           0
Health..Life.Expectancy.         0
Freedom                          0
Generosity                       0
Trust..Government.Corruption.    0
Dystopia.Residual                0
dtype: int64

In [21]:
df_2018.isnull().sum()

Overall rank                    0
Country or region               0
Score                           0
GDP per capita                  0
Social support                  0
Healthy life expectancy         0
Freedom to make life choices    0
Generosity                      0
Perceptions of corruption       1
dtype: int64

In [22]:
df_2019.isnull().sum()

Overall rank                    0
Country or region               0
Score                           0
GDP per capita                  0
Social support                  0
Healthy life expectancy         0
Freedom to make life choices    0
Generosity                      0
Perceptions of corruption       0
dtype: int64

In [23]:
# View missing values in 2018 data
df_nan = df_2018[df_2018['Perceptions of corruption'].isnull() == True]

In [24]:
df_nan

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
19,20,United Arab Emirates,6.774,2.096,0.776,0.67,0.284,0.186,NaN

In [25]:
# Replace missing with column average
df_2018['Perceptions of corruption'] = df_2018['Perceptions of corruption'].fillna(df_2018['Perceptions of corruption'].mean())

In [26]:
# Check
df_2018.isnull().sum()

Overall rank                    0
Country or region               0
Score                           0
GDP per capita                  0
Social support                  0
Healthy life expectancy         0
Freedom to make life choices    0
Generosity                      0
Perceptions of corruption       0
dtype: int64

### Duplicates Check

In [27]:
# Look for duplicates in df
df_2015[df_2015.duplicated()]

Empty DataFrame
Columns: [Country, Region, Happiness Rank, Happiness Score, Standard Error, Economy (GDP per Capita), Family, Health (Life Expectancy), Freedom, Trust (Government Corruption), Generosity, Dystopia Residual]
Index: []

In [28]:
# Look for duplicates in df
df_2016[df_2015.duplicated()]

/Applications/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

Empty DataFrame
Columns: [Country, Region, Happiness Rank, Happiness Score, Lower Confidence Interval, Upper Confidence Interval, Economy (GDP per Capita), Family, Health (Life Expectancy), Freedom, Trust (Government Corruption), Generosity, Dystopia Residual]
Index: []

In [29]:
# Look for duplicates in df
df_2017[df_2015.duplicated()]

/Applications/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

Empty DataFrame
Columns: [Country, Happiness.Rank, Happiness.Score, Whisker.high, Whisker.low, Economy..GDP.per.Capita., Family, Health..Life.Expectancy., Freedom, Generosity, Trust..Government.Corruption., Dystopia.Residual]
Index: []

In [30]:
# Look for duplicates in df
df_2018[df_2015.duplicated()]

/Applications/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

Empty DataFrame
Columns: [Overall rank, Country or region, Score, GDP per capita, Social support, Healthy life expectancy, Freedom to make life choices, Generosity, Perceptions of corruption]
Index: []

In [31]:
# Look for duplicates in df
df_2019[df_2015.duplicated()]

/Applications/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

Empty DataFrame
Columns: [Overall rank, Country or region, Score, GDP per capita, Social support, Healthy life expectancy, Freedom to make life choices, Generosity, Perceptions of corruption]
Index: []

# 03. Dropping, Renaming, Calculating New Columns

### df_2015

In [32]:
df_2015.head(1)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738

In [33]:
# Drop standard error column
df_2015 = df_2015.drop('Standard Error', axis = 1)

In [34]:
df_2015.head(1)

,Country,Region,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738

In [35]:
# Rename columns (all lowercase, no spaces, short but descriptive)
df_2015 = df_2015.rename(columns = {'Country': 'country',
                                    'Region': 'region',
                                   'Happiness Rank': 'happiness_rank',
                                   'Happiness Score': 'happiness_score',
                                   'Economy (GDP per Capita)': 'economy',
                                   'Family': 'family',
                                   'Health (Life Expectancy)': 'health',
                                   'Freedom': 'freedom',
                                   'Trust (Government Corruption)': 'gov_trust',
                                   'Generosity': 'generosity',
                                   'Dystopia Residual': 'dystopia_residual'})

In [36]:
df_2015.head(1)

,country,region,happiness_rank,happiness_score,economy,family,health,freedom,gov_trust,generosity,dystopia_residual
0,Switzerland,Western Europe,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738

In [37]:
# Add year column
df_2015['year'] = '2015'

In [38]:
df_2015.head()

,country,region,happiness_rank,happiness_score,economy,family,health,freedom,gov_trust,generosity,dystopia_residual,year
0,Switzerland,Western Europe,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015
1,Iceland,Western Europe,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015
2,Denmark,Western Europe,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015
3,Norway,Western Europe,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015
4,Canada,North America,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015

### df_2016

In [39]:
df_2016.head(1)

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.46,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939

In [40]:
# Drop confidence interval columns
df_2016 = df_2016.drop(['Lower Confidence Interval', 'Upper Confidence Interval'], axis = 1)

In [41]:
df_2016.head(1)

,Country,Region,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939

In [42]:
# Rename columns (all lowercase, no spaces, short but descriptive)
df_2016 = df_2016.rename(columns = {'Country': 'country',
                                    'Region': 'region',
                                   'Happiness Rank': 'happiness_rank',
                                   'Happiness Score': 'happiness_score',
                                   'Economy (GDP per Capita)': 'economy',
                                   'Family': 'family',
                                   'Health (Life Expectancy)': 'health',
                                   'Freedom': 'freedom',
                                   'Trust (Government Corruption)': 'gov_trust',
                                   'Generosity': 'generosity',
                                   'Dystopia Residual': 'dystopia_residual'})

In [43]:
df_2016.head(1)

,country,region,happiness_rank,happiness_score,economy,family,health,freedom,gov_trust,generosity,dystopia_residual
0,Denmark,Western Europe,1,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939

In [44]:
# Add year column
df_2016['year'] = '2016'

In [45]:
df_2016.head()

,country,region,happiness_rank,happiness_score,economy,family,health,freedom,gov_trust,generosity,dystopia_residual,year
0,Denmark,Western Europe,1,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939,2016
1,Switzerland,Western Europe,2,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463,2016
2,Iceland,Western Europe,3,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137,2016
3,Norway,Western Europe,4,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465,2016
4,Finland,Western Europe,5,7.413,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596,2016

### df_2017

In [46]:
df_2017.head(1)

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027

In [47]:
# Drop whisker columns
df_2017 = df_2017.drop(['Whisker.high', 'Whisker.low'], axis = 1)

In [48]:
df_2017.head(1)

,Country,Happiness.Rank,Happiness.Score,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027

In [49]:
# Rename columns (all lowercase, no spaces, short but descriptive)
df_2017 = df_2017.rename(columns = {'Country': 'country',
                                   'Happiness.Rank': 'happiness_rank',
                                   'Happiness.Score': 'happiness_score',
                                   'Economy..GDP.per.Capita.': 'economy',
                                   'Family': 'family',
                                   'Health..Life.Expectancy.': 'health',
                                   'Freedom': 'freedom',
                                   'Trust..Government.Corruption.': 'gov_trust',
                                   'Generosity': 'generosity',
                                   'Dystopia.Residual': 'dystopia_residual'})

In [50]:
df_2017.head(1)

,country,happiness_rank,happiness_score,economy,family,health,freedom,generosity,gov_trust,dystopia_residual
0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027

In [51]:
# List unique regions from 2016 df
df_2016['region'].unique()

array(['Western Europe', 'North America', 'Australia and New Zealand',
       'Middle East and Northern Africa', 'Latin America and Caribbean',
       'Southeastern Asia', 'Central and Eastern Europe', 'Eastern Asia',
       'Sub-Saharan Africa', 'Southern Asia'], dtype=object)

In [52]:
# Define regions
western_europe = df_2016[df_2016['region'] == 'Western Europe']['country'].tolist()

In [53]:
north_america = df_2016[df_2016['region'] == 'North America']['country'].tolist()

In [54]:
aus_nz = df_2016[df_2016['region'] == 'Australia and New Zealand']['country'].tolist()

In [55]:
mid_east_north_africa = df_2016[df_2016['region'] == 'Middle East and Northern Africa']['country'].tolist()

In [56]:
lat_am_caribbean = df_2016[df_2016['region'] == 'Latin America and Caribbean']['country'].tolist()

In [57]:
southeast_asia = df_2016[df_2016['region'] == 'Southeastern Asia']['country'].tolist()

In [58]:
central_east_euro = df_2016[df_2016['region'] == 'Central and Eastern Europe']['country'].tolist()

In [59]:
east_asia = df_2016[df_2016['region'] == 'Eastern Asia']['country'].tolist()

In [60]:
sub_saharan = df_2016[df_2016['region'] == 'Sub-Saharan Africa']['country'].tolist()

In [61]:
south_asia = df_2016[df_2016['region'] == 'Southern Asia']['country'].tolist()

In [62]:
# Loop through country column to assign region
result = []

for value in df_2017["country"]:
  if value in western_europe:
    result.append("Western Europe")
  elif value in north_america:
    result.append("North America")
  elif value in aus_nz:
    result.append("Australia and New Zealand")
  elif value in mid_east_north_africa:
    result.append("Middle East and Northern Africa")
  elif value in lat_am_caribbean:
    result.append("Latin America and Caribbean")
  elif value in southeast_asia:
    result.append("Southeastern Asia")
  elif value in central_east_euro:
    result.append("Central and Eastern Europe")
  elif value in east_asia:
    result.append("Eastern Asia")
  elif value in sub_saharan:
    result.append("Sub-Saharan Africa")
  elif value in south_asia:
    result.append("Southern Asia")
  else:
    result.append(np.nan)

In [63]:
# Combine result list with df as new column
df_2017['region'] = result

In [64]:
df_2017.head(1)

,country,happiness_rank,happiness_score,economy,family,health,freedom,generosity,gov_trust,dystopia_residual,region
0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027,Western Europe

In [65]:
df_2017.isnull().sum()

country              0
happiness_rank       0
happiness_score      0
economy              0
family               0
health               0
freedom              0
generosity           0
gov_trust            0
dystopia_residual    0
region               5
dtype: int64

In [66]:
# Check for missing regions
df_2017[df_2017['region'].isnull() == True]

,country,happiness_rank,happiness_score,economy,family,health,freedom,generosity,gov_trust,dystopia_residual,region
32,Taiwan Province of China,33,6.422,1.433627,1.384565,0.793984,0.361467,0.258360,0.063829,2.126607,NaN
70,"Hong Kong S.A.R., China",71,5.472,1.551675,1.262791,0.943062,0.490969,0.374466,0.293934,0.554633,NaN
112,Mozambique,113,4.550,0.234306,0.870701,0.106654,0.480791,0.322228,0.179436,2.355651,NaN
138,Lesotho,139,3.808,0.521021,1.190095,0.000000,0.390661,0.157497,0.119095,1.429835,NaN
154,Central African Republic,155,2.693,0.000000,0.000000,0.018773,0.270842,0.280876,0.056565,2.066005,NaN

In [67]:
# Fix missing regions
df_2017.loc[df_2017['country'] == 'Taiwan Province of China', 'region'] = 'Eastern Asia'

In [68]:
df_2017.loc[df_2017['country'] == 'Hong Kong S.A.R., China', 'region'] = 'Eastern Asia'

In [69]:
df_2017.loc[df_2017['country'] == 'Mozambique', 'region'] = 'Sub-Saharan Africa'

In [70]:
df_2017.loc[df_2017['country'] == 'Lesotho', 'region'] = 'Sub-Saharan Africa'

In [71]:
df_2017.loc[df_2017['country'] == 'Central African Republic', 'region'] = 'Middle East and Northern Africa'

In [72]:
# Check for missing regions
df_2017[df_2017['region'].isnull() == True]

Empty DataFrame
Columns: [country, happiness_rank, happiness_score, economy, family, health, freedom, generosity, gov_trust, dystopia_residual, region]
Index: []

In [73]:
# Add year column
df_2017['year'] = '2017'

In [74]:
df_2017.head(1)

,country,happiness_rank,happiness_score,economy,family,health,freedom,generosity,gov_trust,dystopia_residual,region,year
0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027,Western Europe,2017

### df_2018

In [75]:
df_2018.head(1)

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393

In [76]:
# Rename columns (all lowercase, no spaces, short but descriptive)
df_2018 = df_2018.rename(columns = {'Country or region': 'country',
                                   'Overall rank': 'happiness_rank',
                                   'Score': 'happiness_score',
                                   'GDP per capita': 'economy',
                                   'Social support': 'family',
                                   'Healthy life expectancy': 'health',
                                   'Freedom to make life choices': 'freedom',
                                   'Perceptions of corruption': 'gov_trust',
                                   'Generosity': 'generosity'})

In [77]:
df_2018.head(1)

,happiness_rank,country,happiness_score,economy,family,health,freedom,generosity,gov_trust
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393

In [78]:
df_2018.isnull().sum()

happiness_rank     0
country            0
happiness_score    0
economy            0
family             0
health             0
freedom            0
generosity         0
gov_trust          0
dtype: int64

In [79]:
# Calculate dystopia_residual column as happiness score minus other columns
df_2018['dystopia_residual'] = df_2018['happiness_score'] - (df_2018['economy'] + df_2018['family'] + df_2018['health']
                              + df_2018['freedom'] + df_2018['generosity'] + df_2018['gov_trust'])

In [80]:
df_2018.head(1)

,happiness_rank,country,happiness_score,economy,family,health,freedom,generosity,gov_trust,dystopia_residual
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2.585

In [81]:
# Loop through country column to assign region
result2 = []

for value in df_2018["country"]:
  if value in western_europe:
    result2.append("Western Europe")
  elif value in north_america:
    result2.append("North America")
  elif value in aus_nz:
    result2.append("Australia and New Zealand")
  elif value in mid_east_north_africa:
    result2.append("Middle East and Northern Africa")
  elif value in lat_am_caribbean:
    result2.append("Latin America and Caribbean")
  elif value in southeast_asia:
    result2.append("Southeastern Asia")
  elif value in central_east_euro:
    result2.append("Central and Eastern Europe")
  elif value in east_asia:
    result2.append("Eastern Asia")
  elif value in sub_saharan:
    result2.append("Sub-Saharan Africa")
  elif value in south_asia:
    result2.append("Southern Asia")
  else:
    result2.append(np.nan)

In [82]:
# Combine result2 list with df as new column
df_2018['region'] = result2

In [83]:
df_2018.head(1)

,happiness_rank,country,happiness_score,economy,family,health,freedom,generosity,gov_trust,dystopia_residual,region
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2.585,Western Europe

In [84]:
# Check for missing regions
df_2018[df_2018['region'].isnull() == True]

,happiness_rank,country,happiness_score,economy,family,health,freedom,generosity,gov_trust,dystopia_residual,region
37,38,Trinidad & Tobago,6.192,1.223,1.492,0.564,0.575,0.171,0.019,2.148,NaN
57,58,Northern Cyprus,5.835,1.229,1.211,0.909,0.495,0.179,0.154,1.658,NaN
122,123,Mozambique,4.417,0.198,0.902,0.173,0.531,0.206,0.158,2.249,NaN
140,141,Lesotho,3.808,0.472,1.215,0.079,0.423,0.116,0.112,1.391,NaN
154,155,Central African Republic,3.083,0.024,0.000,0.010,0.305,0.218,0.038,2.488,NaN

In [85]:
# Fix missing regions
df_2018.loc[df_2018['country'] == 'Trinidad & Tobago', 'region'] = 'Latin America and Caribbean'

In [86]:
df_2018.loc[df_2018['country'] == 'Northern Cyprus', 'region'] = 'Middle East and Northern Africa'

In [87]:
df_2018.loc[df_2018['country'] == 'Mozambique', 'region'] = 'Sub-Saharan Africa'

In [88]:
df_2018.loc[df_2018['country'] == 'Lesotho', 'region'] = 'Sub-Saharan Africa'

In [89]:
df_2018.loc[df_2018['country'] == 'Central African Republic', 'region'] = 'Middle East and Northern Africa'

In [90]:
# Check for missing regions
df_2018[df_2018['region'].isnull() == True]

Empty DataFrame
Columns: [happiness_rank, country, happiness_score, economy, family, health, freedom, generosity, gov_trust, dystopia_residual, region]
Index: []

In [91]:
# Add year column
df_2018['year'] = '2018'

In [92]:
df_2018.head(1)

,happiness_rank,country,happiness_score,economy,family,health,freedom,generosity,gov_trust,dystopia_residual,region,year
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2.585,Western Europe,2018

### df_2019

In [93]:
df_2019.head(1)

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.34,1.587,0.986,0.596,0.153,0.393

In [94]:
# Rename columns (all lowercase, no spaces, short but descriptive)
df_2019 = df_2019.rename(columns = {'Country or region': 'country',
                                   'Overall rank': 'happiness_rank',
                                   'Score': 'happiness_score',
                                   'GDP per capita': 'economy',
                                   'Social support': 'family',
                                   'Healthy life expectancy': 'health',
                                   'Freedom to make life choices': 'freedom',
                                   'Perceptions of corruption': 'gov_trust',
                                   'Generosity': 'generosity'})

In [95]:
df_2019.head(1)

,happiness_rank,country,happiness_score,economy,family,health,freedom,generosity,gov_trust
0,1,Finland,7.769,1.34,1.587,0.986,0.596,0.153,0.393

In [96]:
# Calculate dystopia_residual column as happiness score minus other columns
df_2019['dystopia_residual'] = df_2019['happiness_score'] - (df_2019['economy'] + df_2019['family'] + df_2019['health']
                              + df_2019['freedom'] + df_2019['generosity'] + df_2019['gov_trust'])

In [97]:
df_2019.head(1)

,happiness_rank,country,happiness_score,economy,family,health,freedom,generosity,gov_trust,dystopia_residual
0,1,Finland,7.769,1.34,1.587,0.986,0.596,0.153,0.393,2.714

In [98]:
# Loop through country column to assign region
result3 = []

for value in df_2019["country"]:
  if value in western_europe:
    result3.append("Western Europe")
  elif value in north_america:
    result3.append("North America")
  elif value in aus_nz:
    result3.append("Australia and New Zealand")
  elif value in mid_east_north_africa:
    result3.append("Middle East and Northern Africa")
  elif value in lat_am_caribbean:
    result3.append("Latin America and Caribbean")
  elif value in southeast_asia:
    result3.append("Southeastern Asia")
  elif value in central_east_euro:
    result3.append("Central and Eastern Europe")
  elif value in east_asia:
    result3.append("Eastern Asia")
  elif value in sub_saharan:
    result3.append("Sub-Saharan Africa")
  elif value in south_asia:
    result3.append("Southern Asia")
  else:
    result3.append(np.nan)

In [99]:
# Combine result2 list with df as new column
df_2019['region'] = result3

In [100]:
df_2019.head(1)

,happiness_rank,country,happiness_score,economy,family,health,freedom,generosity,gov_trust,dystopia_residual,region
0,1,Finland,7.769,1.34,1.587,0.986,0.596,0.153,0.393,2.714,Western Europe

In [101]:
# Check for missing regions
df_2019[df_2019['region'].isnull() == True]

,happiness_rank,country,happiness_score,economy,family,health,freedom,generosity,gov_trust,dystopia_residual,region
38,39,Trinidad & Tobago,6.192,1.231,1.477,0.713,0.489,0.185,0.016,2.081,NaN
63,64,Northern Cyprus,5.718,1.263,1.252,1.042,0.417,0.191,0.162,1.391,NaN
83,84,North Macedonia,5.274,0.983,1.294,0.838,0.345,0.185,0.034,1.595,NaN
119,120,Gambia,4.516,0.308,0.939,0.428,0.382,0.269,0.167,2.023,NaN
122,123,Mozambique,4.466,0.204,0.986,0.390,0.494,0.197,0.138,2.057,NaN
134,135,Swaziland,4.212,0.811,1.149,0.000,0.313,0.074,0.135,1.730,NaN
143,144,Lesotho,3.802,0.489,1.169,0.168,0.359,0.107,0.093,1.417,NaN
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035,2.457,NaN

In [102]:
# Fix missing regions
df_2019.loc[df_2019['country'] == 'Trinidad & Tobago', 'region'] = 'Latin America and Caribbean'

In [103]:
df_2019.loc[df_2019['country'] == 'Northern Cyprus', 'region'] = 'Middle East and Northern Africa'

In [104]:
df_2019.loc[df_2019['country'] == 'North Macedonia', 'region'] = 'Central and Eastern Europe'

In [105]:
df_2019.loc[df_2019['country'] == 'Gambia', 'region'] = 'Middle East and Northern Africa'

In [106]:
df_2019.loc[df_2019['country'] == 'Mozambique', 'region'] = 'Sub-Saharan Africa'

In [107]:
df_2019.loc[df_2019['country'] == 'Swaziland', 'region'] = 'Sub-Saharan Africa'

In [108]:
df_2019.loc[df_2019['country'] == 'Lesotho', 'region'] = 'Sub-Saharan Africa'

In [109]:
df_2019.loc[df_2019['country'] == 'Central African Republic', 'region'] = 'Middle East and Northern Africa'

In [110]:
# Check for missing regions
df_2019[df_2019['region'].isnull() == True]

Empty DataFrame
Columns: [happiness_rank, country, happiness_score, economy, family, health, freedom, generosity, gov_trust, dystopia_residual, region]
Index: []

In [111]:
# Add year column
df_2019['year'] = '2019'

In [112]:
df_2019.head(1)

,happiness_rank,country,happiness_score,economy,family,health,freedom,generosity,gov_trust,dystopia_residual,region,year
0,1,Finland,7.769,1.34,1.587,0.986,0.596,0.153,0.393,2.714,Western Europe,2019

# 04. Merging DFs

In [113]:
df_combined = df_2015.append(df_2016).append(df_2017).append(df_2018).append(df_2019)

In [114]:
df_combined.head()

,country,region,happiness_rank,happiness_score,economy,family,health,freedom,gov_trust,generosity,dystopia_residual,year
0,Switzerland,Western Europe,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015
1,Iceland,Western Europe,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015
2,Denmark,Western Europe,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015
3,Norway,Western Europe,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015
4,Canada,North America,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015

In [116]:
# Export data to csv
df_combined.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'df_combined.csv'), index = False)